<table>
    <caption>table view</caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>Image Name</th>
        <th>Uploaded User</th>
        <th>Checksum</th>
        <th>Events</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="image in $ctrl.imageService.getImages()">
        <td ng-bind="image.id"></td>
        <td ng-bind="image.imageName"></td>
        <td ng-bind="image.uploadedUser.email"></td>
        <td ng-bind="image.checksum"></td>
        <td>
            <button> view image</button>
            <button ng-click="$ctrl.onRemoveImage(image)">delete image</button>
        </td>
    </tr>
    </tbody>
</table>



